@font-face {
    font-family: "Acrom";
    src: url("../font/ofont.ru_Acrom.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;

    font-family: "Acrom", serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

:root {
    --max-content-size: 1440px;
}

body {
    background-color: #000;
}

/* Header start */

.header {
    width: var(--max-content-size);
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.logo {
    margin-right: 59px;
}

.nav {
    display: flex;
    column-gap: 32px;
}

.nav__elem {
    color: #FFCC53;
}

.nav__elem:visited {
    color: #FFCC53;
}

/* Header end */

/* Hero start */

.hero {
    width: 100%;
    /* width: var(--max-content-size); */
    height: 864px;

    margin: auto auto 112px auto;

    background-image: url("../image/hero/Image.png");
    background-repeat: repeat-x;
    background-size: 50%;
}

.hero__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.7);

    float: right;

    width: 50%;
    height: 864px;

    color: #fff;
}

.hero-text__container {
    display: flex;
    flex-direction: column;

    row-gap: 24px;
}

.hero__title {
    font-size: 56px;
}

.home__color {
    font-size: 171px;
}

.sip__color {
    font-size: 56px;
    font-weight: bold;
    color: #ffcc53;
}

.dream__house__color {
    font-size: 32px;
    font-weight: bold;
    color: #ffcc53;

    text-decoration: underline;
}

.hero__desc {
    font-size: 32px;
    font-weight: bold;
}

.hero__btn {
    width: 290px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: bold;

    color: #000;

    padding: 17px 50px 17px 50px;

    background-color: #ffcc53;
}

.hero__btn:hover {
    cursor: pointer;
}

/* Hero end */

/* Categories start */

.categories {
    width: var(--max-content-size);

    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 32px;
    row-gap: 76px;
}
.categorie__block {
    width: 304px;
    height: 396px;

    display: flex;
    flex-direction: column;

    row-gap: 32px;
}
.categorie__img {
}
.categorie__btn {
    width: 304px;
    height: 60px;

    background-color: #ffcc53;
    color: #000;

    font-size: 24px;
}

/* Categories end */

/* Contact start */

.contact {
    width: 100%;
    /* height: 460px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 112px;
    margin-bottom: 112px;

    background-image: url("../image/contact/16.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__container {
    width: 100%;
    /* height: 460px; */

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 124px 64px 112px 64px;
}


.left__contact-text {
    font-size: 48px;
    font-weight: bold;

    color: #fff;
}

.left__contact-text > span {
    color: #ffcc53;
    text-decoration: underline;
}
.right__contact-text {
    color: #fff;

    width: 616px;

    display: flex;
    flex-direction: column;

    row-gap: 24px;
}
.contact__heading {
    font-size: 32px;
    font-weight: bold;
}
.contact-form {
    display: flex;
    column-gap: 16px;
}

.contact__form-inp {
    width: 222px;
    height: 48px;

    padding: 12px 12px 12px 12px;

    font-size: 16px;
}

.contact__form-btn {
    width: 139px;
    height: 48px;

    background-color: #ffcc53;

    font-size: 16px;
}

/* Contact end */

/* Faq start */

.faq {
    width: 100%;

    margin-bottom: 112px;

    color: #fff;
}

.faq__container {
    width: 768px;
    margin: auto;
}
.faq__heading {
    font-size: 56px;
    font-weight: bold;

    text-align: center;
}
.faq__desc {
    font-size: 20px;

    text-align: center;

    margin-bottom: 80px;
}

.faq__container-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 81px;
}

.faq__item {
    font-size: 20px;

    display: flex;
    align-items: center;

    width: 768px;
    height: 72px;

    border-top: 1px solid #ffcc53;
    border-bottom: 1px solid #ffcc53;
}

.faq__container-btn {
    text-align: center;
}

.faq__container__heading {
    text-align: center;

    margin-bottom: 16px;

    font-size: 36px;
    font-weight: bold;
}

.faq__container__desc {
    text-align: center;
    margin-bottom: 24px;
}

.faq-btn {
    width: 134px;

    font-size: 16px;

    text-align: center;

    background-color: inherit;

    border: 2px solid #ffcc53;
    color: #ffcc53;

    padding: 12px 24px 12px 24px;
}

/* Faq end */


/* Full start */

.full__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    color: #fff;

    margin-bottom: 112px;
}
.full__left-block {
}
.full__catalog-img {
}
.full__right-block {
    width: 616px;
}
.full__heading {
    font-size: 56px;
    font-weight: bold;
}
.full__desc {
    font-size: 18px;

    margin-top: 32px;
    margin-bottom: 32px;
}
.full__label {
    display: flex;
    flex-direction: column;

}

.full-label {

}

.full-inp {
    width: 616px;
    height: 48px;

    margin-bottom: 24px;
}

.full-btn {
    width: 139px;
    height: 48px;

    margin-top: 24px;

    background-color: #ffcc53;

    font-size: 16px;
}
/* Full end */


/* Footer start */

.footer {
    width: 100%;
    height: 436px;

    padding: 80px 80px 0 80px;

    background-color: #FFCC53;
}
.footer__container {
    max-width: var(--max-content-size);
    height: 276px;
    
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.foot__block-nav {
    width: 487px;
    height: 83px;

    display: grid;
    align-content: space-between;
}
.foot-logo {
}
.foot-nav {
    display: flex;
    column-gap: 32px;
}
.foot-nav__elem {
    color: #000;
}

.foot-nav__elem:visited {
    color: #000;
}

.foot-email {
    display: flex;
    flex-direction: column;

    row-gap: 16px;
}
.foot-email__heading {
}
.foot-email-form {
}
.foot-email-inp {
    padding: 12px;

    width: 228px;
    height: 48px;

    border: 1px solid #000;
}

.foot-email-btn {
    width: 156px;
    height: 48px;

    padding: 12px 24px 12px 24px;

    background-color: inherit;

    border: 1px solid #000;
}

.footer__line {
    width: 100%;
    border: 1px solid #000;
}

.footer__foot-link {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.foot-link__container {
    display: flex;
    column-gap: 24px;
}

.foot__link {
    color: #000;
}

.foot__link:visited {
    color: #000;
}


.foot-link__rights {
}

.obr {
    font-size: 12px;
}

/* Footer end */